<!doctype html>
<html lang="en">
<head>
    {{range .Page.MetaData}}
        <meta
                {{if not (eq .Charset "")}} charset="{{.Charset}}" {{end}}
                {{if not (eq .Name "")}} name="{{.Name}}" {{end}}
                {{if not (eq .HttpEquiv "")}} http-equiv="{{.HttpEquiv}}" {{end}}
                {{if not (eq .Content "")}} content="{{.Content}}" {{end}}
        />
    {{end}}
    <title> {{ .Page.Title.Tab }} </title>

    {{range .Page.CssFiles}}
    <link rel="stylesheet" href="{{.}}">
    {{end}}

    <script src="assets/init_astilectron.js"></script>

    <script>
        /**
         * @param {string} project.technoName
         * @param {string} project.technoValue
         * @param {string} project.name
         * @param {string} project.path
         */
        function deleteProject(project, button) {
            fetch('', {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    name: project.name,
                    path: project.path,
                    techno: {
                        name: project.technoName,
                        value: project.technoValue
                    }
                })
            }).then(r => r.json())
                .then(json => {
                    sendMessage({
                        channel: 'Notification',
                        data: {
                            title: `Suppression :`,
                            body: `Le projet '${project.name}' à été supprimé avec succès`
                        }
                    })

                    button.parentElement.remove();

                    if (json === null || json.length === 0) {
                        const span = document.createElement('span')
                        span.innerHTML = "Aucun projet n'a été généré pour le moment";
                        document.querySelector('main').appendChild(span)
                    }
                })
                .catch(err => {
                    sendMessage({
                        channel: 'Notification',
                        data: {
                            title: `Suppression :`,
                            body: `La suppression du projet '${project.name}' à échoué !`
                        }
                    })
                    console.error(err)
                })
        }
    </script>
</head>
<body>
    {{ .Page.Menu }}

    <main class="container">
        <h1> {{ .Page.Title.Page }} </h1>

        <ul class="list-group">
            {{range .Page.Vars.Projects}}
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                    <div class="fw-bold">
                        {{.Name}}
                    </div>

                    {{.Techno.Name}}
                </div>

                <button type="button" class="btn btn-outline-danger"
                        onclick="deleteProject({
                            technoName: '{{.Techno.Name}}',
                            technoValue: '{{.Techno.Value}}',
                            name: '{{.Name}}',
                            path: '{{.Path}}'
                        }, this)">
                    <i class="fa-solid fa-xmark"></i>
                </button>
            </li>
            {{end}}
        </ul>

        {{if eq (len .Page.Vars.Projects) 0}}
        <span> Aucun projet n'a été généré pour le moment </span>
        {{end}}
    </main>
</body>
</html>