<!doctype html>
<html lang="en">
<head>
    {{range .Page.MetaData}}
        <meta
                {{if not (eq .Charset "")}} charset="{{.Charset}}" {{end}}
                {{if not (eq .Name "")}} name="{{.Name}}" {{end}}
                {{if not (eq .HttpEquiv "")}} http-equiv="{{.HttpEquiv}}" {{end}}
                {{if not (eq .Content "")}} content="{{.Content}}" {{end}}
        />
    {{end}}
    <title> {{ .Page.Title.Tab }} </title>

    {{range .Page.CssFiles}}
    <link rel="stylesheet" href="{{.}}">
    {{end}}
</head>
<body>
    {{ .Menu }}

    <main class="container">
        <h1> {{ .Page.Title.Page }} </h1>

        <div class="row mb-2">
            <div class="col-12">
                <section class="card">
                    <div class="card-body">
                        <h1 class="card-title"> CLI </h1>
                        <h2 class="card-subtitle mb-2 text-muted"> 2 paramètres </h2>

                        <ol class="list-group">
                            <li class="list-group-item"> chemin du projet </li>
                            <li class="list-group-item"> technologie utilisée </li>
                            <li class="list-group-item">&nbsp;&nbsp;&nbsp;&nbsp;ex : javascript </li>
                            <li class="list-group-item">&nbsp;&nbsp;&nbsp;&nbsp;ex :  react-17 </li>
                            <li class="list-group-item">&nbsp;&nbsp;&nbsp;&nbsp;ex :  vue-2 </li>
                        </ol>
                    </div>
                </section>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <section class="card">
                    <div class="card-body">
                        <h1 class="card-title"> WEB </h1>
                        <h2 class="card-subtitle mb-2 text-muted"> 0 paramètre </h2>

                        <p class="card-text">
                            Accessible sur <a href="http://localhost:{{ .Port }}" target="_blank">http://localhost:{{ .Port }}</a>
                        </p>
                    </div>
                </section>
            </div>
        </div>
    </main>
</body>
</html>