<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Help</title>
</head>
<body>
    <section>
        <h1> CLI </h1>
        <h2> 2 paramètres </h2>

        <ol>
            <li> chemin du projet </li>
            <li>
                technologie utilisée
                <div>ex :
                    <ul>
                        <li> javascript </li>
                        <li> react-17 </li>
                        <li> vue-2 </li>
                    </ul>
                </div>
            </li>
        </ol>
    </section>

    <section>
        <h1> WEB </h1>
        <h2> 0 paramètre </h2>

        <p>
            Accessible sur <a href="http://localhost:8042" target="_blank">http://localhost:8042</a>
        </p>
    </section>
</body>
</html>