<!doctype html>
<html lang="en">
<head>
    {{range .Page.MetaData}}
        <meta
                {{if not (eq .Charset "")}} charset="{{.Charset}}" {{end}}
                {{if not (eq .Name "")}} name="{{.Name}}" {{end}}
                {{if not (eq .HttpEquiv "")}} http-equiv="{{.HttpEquiv}}" {{end}}
                {{if not (eq .Content "")}} content="{{.Content}}" {{end}}
        />
    {{end}}
    <title> {{ .Page.Title.Tab }} </title>

    {{range .Page.CssFiles}}
    <link rel="stylesheet" href="{{.}}">
    {{end}}

    <script src="assets/init_astilectron.js"></script>

    <script>
        document.addEventListener('astilectron-ready', () => {
            /**
             * @param {string} message.channel
             * @param {Record<string, string>|Record<string, string>[]} message.data
             * @returns {string}
             */
            const newMessageHandler = message => {
                if (message.channel === "Redirect") {
                    window.location.href = message.data.uri;

                    return message.data.uri;
                } else if (message.channel === "PutFolder") {
                    const folder = message.data.folder;

                    document.querySelector('#path').value = folder

                    return folder;
                }
            };
            astilectron.onMessage(newMessageHandler);

            {{if .Page.Vars.Alert}}
            const type = '{{.Page.Vars.Alert.Type}}'
            const title = type === 'danger' ? 'Erreur :' : 'Succès :';

            sendMessage({
                channel: "Notification",
                data: {
                    title,
                    body: `{{.Page.Vars.Alert.Message}}`.substring(1, `{{.Page.Vars.Alert.Message}}`.length - 2)
                }
            })
            {{end}}

            document.querySelector('#path').addEventListener('focus', () => {
                sendMessage({
                    channel: 'OpenFolderSelectorModal',
                    data: {}
                })
            })
        })
    </script>
</head>
<body>
    {{ .Page.Menu }}

    <main class="d-flex justify-content-center align-items-center">
        <div class="card p-3 mt-2">
                <h2 class="card-title"> {{ .Page.Title.Page }} </h2>

                {{if .Page.Vars.Alert}}
                    <div class="alert alert-{{.Page.Vars.Alert.Type}}" style="max-width: 600px" role="alert">
                        {{.Page.Vars.Alert.Message}}
                    </div>
                {{end}}

                <form method="get" action="/generate" class="card-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">
                                <label for="path" class="form-label">
                                    Path :
                                </label>

                                <input type="text" id="path" name="path" class="form-control"
                                       {{if .Page.Vars.IsGenerate}}disabled{{end}}
                                       {{if .Page.Vars.ProjectPath}}value="{{.Page.Vars.ProjectPath}}"{{end}}>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <label for="project-name" class="form-label">
                                    Project Name :
                                </label>

                                <input type="text" id="project-name" name="projectName" class="form-control"
                                       {{if .Page.Vars.IsGenerate}}disabled{{end}}
                                       {{if .Page.Vars.ProjectName}}value="{{.Page.Vars.ProjectName}}"{{end}}>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <label for="techno">Techno : </label>

                                <select id="techno" name="techno" class="form-select"
                                        {{if .Page.Vars.IsGenerate}}disabled{{end}}>
                                    {{ range .Page.Vars.Technos }}
                                    <option value="{{ .Value }}" {{if .Selected}}selected{{end}}> {{ .Name }} </option>
                                    {{ end }}
                                </select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12 pt-2 d-flex justify-content-between align-items-center">
                                {{if .Page.Vars.IsGenerate}}
                                    <a href="/" class="card-link">
                                        Retour à l'accueil
                                    </a>
                                {{else}}
                                    <button type="submit" class="btn btn-outline-success card-link">
                                        Générer un environement
                                    </button>

                                    <button type="reset" class="btn btn-outline-danger card-link">
                                        Annuler
                                    </button>
                                {{end}}
                            </div>
                        </div>
                    </div>
                </form>
            </div>
    </main>
</body>
</html>